body {
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #151b29;
}

button {
  background: none;
  padding: 1em 2em;
  color: #ffa260;
  border: 2px solid;
  transition: ease 0.5s;
}

button:hover {
  color: #f1ff5c;
  border-color: #f1ff5c;
  transform: translateY(-3.5px);
  box-shadow: 0px 2px 10px 1px yellow;
  cursor: pointer;
}
